<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartphoneapp_project.kanazawaapp_2017">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".map1Activity" />
        <activity android:name=".map2Activity" />
        <activity android:name=".map3Activity" />
        <activity android:name=".map4Activity" />
        <activity android:name=".map5Activity" />
        <activity android:name=".map6Activity" />
        <activity android:name=".map7Activity" />
        <activity android:name=".zukannActivity"/>
        

    </application>

</manifest>